.header__top{
    background-color:#6E6BAD;
    /*display: flex;*/
    /*flex-flow:nowrap;*/
    /*justify-content:center;*/
}
.header__middle{
    max-width: unset;
    width:100%;
}

a:link,a:visited,a:active,a:hover{
    color:#560004;
    font-weight:bolder;
}

/*.main-menu__toggler > a{*/
    /*color: #946088;*/
    /*font-size:3vh;*/
    /*font-weight:bolder;*/
/*}*/
/*.main-menu__toggler > a:hover{*/
    /*color:white;*/
/*}*/
.language-switcher a{
    color: #560004;
    font-weight:bolder;
}
.language-switcher a:visited,a:active,a:hover{
    color: #560004;
}
.logo__img{
    width:40%;
}
.logo__name{
    color:#E86CA0;
    font-size:100px;
    font-family:Helvetica Neue;
}
.main-menu{
    background-color:#F7B878;
    height:3vw;
    padding-top:0.7vw;
    padding-bottom:0.7vw;
}
.main-menu__toggler,.open .dropdown-toggle,.main-menu__toggler:active{
    background:#F7B878;
    color: #474570;
    border:none;
    box-shadow: none;
    outline: none;
}
.main-menu__toggler:visited{
    background: #e0a670;
    color: #474570;
    border:none;
    box-shadow: none;
    outline: none;
}
.main-menu__toggler > a{
    font-size:1.5vw;
    font-weight:400;
}
.dropdown-menu{
    width: 50%;
}
.dropdown-multicol2 > div{
    display:inline-block;
    width: 50%;
}
.dropdown-multicol3 > div{
    display:inline-block;
    width: 32%;
}
.dropdown-multicol3 a{
    color: #3d3b61;
}
.page-footer{
    background-color:#6E6BAD;
}
.page-footer__links{
    background-color: #605e9a;
}
.news_item{
    width:50%;
}
.top-menu a:visited,a:active,a:hover{
    color:white;
}
.top-menu a{
    color:white;
    font-weight:bolder;
}
.account-panel a:visited,a:active,a:hover{
    color:#474570;
    font-weight:bolder;
}
.account-panel a{
    color:#474570;
    font-weight:bolder;
}
.admin-login{
    background-color: #F7B878;
}
.list-group-item-warning{
    display:inline;
}
.admin__menu{
    height:3vw;
    padding-top:0.7vw;
    padding-bottom:0.7vw;
    width:100vw;
}
.news__text-preview{
    text-overflow: ellipsis; /* will make [...] at the end */
    /*width: 35vw; !* change to your preferences *!*/
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}
.news__item{
    width: 47.5%;
}
.news__preview-image{
    height:37vh;
    width:auto;
}
.news-item__title{
    font-size:2em;
}
.news-item__image{
    width:100%;
    height:auto;
}
#news-item__image{
    border-style:solid;
    border-width:medium;
    border-color:#6E6BAD;
}
.news-item__text{
    font-size:1.4em;
}
/*#home-page__carousel{*/
    /*border-style:solid;*/
    /*border-width:thick;*/
    /*border-color:#6E6BAD;*/
/*}*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23405' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23405' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/*.carousel-indicators > li,*/
/*.carousel-indicators > li.active{*/
    /*width: 100px;*/
    /*height: 25px;*/
    /*border-radius: 0;*/
    /*border: solid 1px grey;*/
    /*background: lightgrey;*/
    /*text-indent: 0;*/
/*}*/
/*.carousel-indicators > li.active {*/
    /*background: #6E6BAD;*/
/*}*/

.product-item__thumbnails img:hover{
    cursor:pointer;
}
.carousel-indicators > li,
.carousel-indicators > li.active{
    width: 100px;
    height: 25px;
    border-radius: 0;
    border: solid 1px grey;
    background: lightgrey;
    text-indent: 0;
}
.carousel-indicators > li.active {
    background: #6E6BAD;
}
